<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>Classic Shop</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app">
      <!-- Inizio Header -->
      <header>
        <!-- Inizio Sezione Top Header -->
        <section class="top">
          <div class="header-top container">
            <div class="social float-left">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
            </div>
            <nav class="menu float-right">
              <ul>
                <li>Shopping Cart</li>
                <li>My Account <i class="fas fa-chevron-down"></i></li>
                <li class="cart"><i class="fas fa-shopping-cart"></i>Cart<i class="fas fa-chevron-down"></i></li>
              </ul>
            </nav>
          </div>
        </section>
        <!--/Sezione Top Header -->
        <div class="header-bottom container">
          <img class="logo float-left" src="img/logo.png" alt="">
          <nav class="float-right">
            <ul v-for="li in menu">
              <li>{{li}}<i class="fas fa-chevron-down"></i></li>
            </ul>
            <button type="button" name="button">Shop now!</button>
            <a href="#"><i class="fas fa-search"></i></a>
          </nav>
        </div>
        <div class="jumbotron">
          <img src="img/jumbo.jpg" alt="">
          <div class="text">
            <h1>Brand New Arrivals</h1>
            <div>New collection from new york</div>
            <button type="button">View all</button>
            <button type="button">lookbook</button>
          </div>
        </div>
      </header>
      <!-- / Header -->

      <!-- Inizio Section Featured -->
      <section class="featured container">
        <div class="titolo">
          <div class="linea"></div>
          <h1>Featured Products</h1>
          <div class="linea"></div>
        </div>

        <p>Must have products from our top seller</p>

        <div class="menu">
          <span class="active">Men</span>
          <span>Women</span>
          <span>Accesories</span>
        </div>
        <!-- Box-img -->
        <div class="box-img">
          <div class="img">
            <img src="img/articolo1.jpg" alt="">
            <h5>Black Leather Jacket</h5>
            <h6>Man, Jacket, Jeans</h6>
            <div class="price"> <span>$235</span>$200</div>
          </div>
          <div class="img">
            <img src="img/articolo2.jpg" alt="">
            <h5>Black Leather Suit</h5>
            <h6>Man,Jacket</h6>
            <div class="price">$176</div>
          </div>
          <div class="img">
            <img src="img/articolo3.jpg" alt="">
            <h5>Black Jacket Streep Tee</h5>
            <h6>Man, Jacket, Suits</h6>
            <div class="price">$580</div>
          </div>
          <div class="img">
            <img src="img/articolo4.jpg" alt="">
            <h5>Modern Black Leather Suit</h5>
            <h6>Man,Jacket</p>
            <div class="price">$96</div>
          </div>
        </div>
        <!-- /Box-img -->

      </section>
      <!-- /Section Featured -->

      <!-- Inizio Section Collection -->
      <section class="collection">
        <div class="box-img">
          <img src="img/winter.jpg" alt="">
          <div class="text">
            <h1>Winter Collection</h1>
            <p>Stylish and warms</p>
            <button type="button">view more</button>
          </div>
        </div>
        <div class="box-img">
          <img src="img/spring.jpg" alt="">
          <div class="text">
            <h1>Spring Collection</h1>
            <p>Brigth and colorful</p>
            <button type="button">view more</button>
          </div>
        </div>
        <div class="box-img">
          <img src="img/autumn.jpg" alt="">
          <div class="text">
            <h1>Autumn Collection</h1>
            <p>Rich and comfortable</p>
            <button type="button">view more</button>
          </div>
        </div>
      </section>
      <!-- /Section Collection -->

      <!-- Inizio Section Best Seller -->
      <section class="best-seller container">
        <div class="titolo">
          <div class="linea"></div>
          <h1>Best seller</h1>
          <div class="linea"></div>
        </div>
        <p>Must have products from our top seller</p>

        <div class="box-img">
          <i class="fas fa-angle-left"></i>
          <div class="img">
            <img src="img/model1.jpg" alt="">
            <div class="layer">
              <h5>Moderl Love Tee</h5>
              <p>Women, T-Shirt</p>
              <div class="price">$68</div>
              <div class="options">
                <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                <div><i class="fas fa-bars"></i>Details</div>
              </div>
            </div>
          </div>
            <div class="img">
              <img src="img/model2.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Women, T-Shirt</p>
                <div class="price">$68</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
            <div class="img">
              <img src="img/model3.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Women, T-Shirt</p>
                <div class="price">$68</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
            <div class="img">
              <img src="img/model4.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Women, Jackets</p>
                <div class="price">$200</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
            <div class="img">
              <img src="img/articolo3.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Man, T-Shirt</p>
                <div class="price">$68</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
           <i class="fas fa-angle-right"></i>
        </div>
      </section>
      <!-- /Section Best Seller -->

      <!-- Fullwidth Box -->
      <div class="full-box">
        <div class="box container">
          <div class="img">
            <img src="img/promo2.jpg" alt="">
            <div class="text">
              <h3>70% Off</h3>
              <p>Vivamus tempor le lacus, feugiat</p>
              <p>ut magna aliquam erat</p>
              <button type="button">View more</button>
            </div>
          </div>
          <div class="img p-l-20">
            <img src="img/promo1.jpg" alt="">
            <div class="text">
              <h3>Free Shipping</h3>
              <p>Vivamus tempor le lacus, feugiat</p>
              <p>ut magna aliquam erat</p>
              <button type="button">View more</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Fullwidth Box -->


      <!-- Inizio Section New Arrivals -->
      <section class="new-arrivals ">
        <div class="titolo container">
          <div class="linea"></div>
          <h1>New Arrivals</h1>
          <div class="linea"></div>
        </div>
        <p class="sottotitolo">Brand new product from top designers</p>
        <div class="box-img">
          <i class="fas fa-angle-left"></i>
          <div class="img">
            <img src="img/model3.jpg" alt="">
            <div class="layer">
              <h5>Moderl Love Tee</h5>
              <p>Women, T-Shirt</p>
              <div class="price">$68</div>
              <div class="options">
                <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                <div><i class="fas fa-bars"></i>Details</div>
              </div>
            </div>
          </div>
            <div class="img">
              <img src="img/model4.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Women, T-Shirt</p>
                <div class="price">$68</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
            <div class="img">
              <img src="img/articolo3.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Women, T-Shirt</p>
                <div class="price">$68</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
            <div class="img">
              <img src="img/model1.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Women, Jackets</p>
                <div class="price">$200</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
            <div class="img">
              <img src="img/model2.jpg" alt="">
              <div class="layer">
                <h5>Moderl Love Tee</h5>
                <p>Man, T-Shirt</p>
                <div class="price">$68</div>
                <div class="options">
                  <div><i class="fas fa-shopping-cart"></i>Add to cart</div>
                  <div><i class="fas fa-bars"></i>Details</div>
                </div>
              </div>
            </div>
           <i class="fas fa-angle-right"></i>
        </div>
      </section>
      <!-- /Section New Arrivals -->

      <!-- Full-Box-2 -->
      <div class="full-box-2">
        <img class="box-img" src="img/fullbox.jpg" alt="">
        <div class="man container">
          <img src="img/manlogo.png" alt="">
            <p>Curabitor non tristique tortor. Vestibulum aliquet suscipit ipsum in volutpat. Donec vel lacinia sem, vitae semper nulla. In hac habitasse platea dictumst. Mauris consectetur est et nibh sapid hendrerit bibendum </p>
            <p><span>Dario Pineda,</span> Theme Fusion </p>
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
        </div>
      </div>
      <!-- /Full-Box-2 -->


      <!-- Inizio Section Blog -->
      <section class="blog container">
        <div class="titolo">
           <div class="linea"></div>
           <h1>From Our Blog</h1>
           <div class="linea"></div>
         </div>
         <p class="sottotitolo">The latest Classic Shop news</p>
         <div class="box-img">
           <div class="img">
             <img src="img/blog1.jpg" alt="">
             <h4>Aenean lobortis sapien enim viverra</h4>
             <span>September 9th, 2015|0 Comments</span>
             <p>Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla,</p>
           </div>
           <div class="img">
             <img src="img/blog2.jpg" alt="">
             <h4>Duis ac massa semper maximus</h4>
             <span>September 9th,2015|0 Comments</span>
             <p>Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla,</p>
           </div>
           <div class="img">
             <img src="img/blog3.jpg" alt="">
             <h4>Nunc femmit nulla eu justo sem id</h4>
             <span>September 9th,2015|0 Comments</span>
             <p>Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla,</p>
           </div>
         </div>
      </section>
      <!-- /Section Blog -->
      <div class="linea-2"></div>

      <!-- Inizio Section top-rated -->
      <section class="top-rated container">

        <!-- PRIMA COLONNA -->
        <div class="column">
          <div class="titolo">FEATURED</div>
          <div class="text">
            <div class="info">
              <div class="capo">Black Jacket <span class="price">$125</span></div>
            </div>
            <img src="img/model1.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Black Leather Jacket</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <div class="price"><span class="first-price">$235</span><span class="second-price">$200</span></div>
            </div>
            <img src="img/articolo2.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Hipster Black Top<span class="price">$75</span></div>
            </div>
            <img src="img/model3.jpg" alt="">
          </div>
        </div>

         <!-- SECONDA COLONNA -->
        <div class="column">
          <div class="titolo">ON SALE</div>
          <div class="text">
            <div class="info">
              <div class="capo">Black Leather Jacket</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <div><span class="first-price">$235</span><span class="second-price">$200</span></div>
            </div>
            <img src="img/articolo3.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Blue Leather Jacket <span class="first-price">$80</span> <span class="second-price">$60</span></div>
            </div>
             <img src="img/articolo2.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Modern leather Boots <span class="first-price">$50</span> <span class="second-price">$30</span></div>
            </div>
            <img src="img/shoes.jpg" alt="">
          </div>
        </div>

        <!-- TERZA COLONNA -->
        <div class="column">
          <div class="titolo">TOP RATED</div>
          <div class="text">
            <div class="info">
              <div class="capo">Leather Gloves</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <div><span class="price">$45</span></div>
            </div>
            <img src="img/articolo3.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Black Leather Jacket</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <div><span class="first-price">$235</span><span class="second-price">$200</span></div>
            </div>
            <img src="img/gloves.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Spring Printed Dress</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <div><span class="price">$47</span></div>
            </div>
            <img src="img/model1.jpg" alt="">
          </div>
        </div>

        <!-- QUARTA COLONNA -->
        <div class="column">
          <div class="titolo">LATEST REVIEWS</div>
          <div class="text">
            <div class="info">
              <div class="capo">Black Leather Jacket</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <div>by admin</div>
            </div>
            <img src="img/gloves.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Leather Gloves</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <div>by Beardman</div>
            </div>
            <img src="img/articolo1.jpg" alt="">
          </div>
          <div class="text">
            <div class="info">
              <div class="capo">Spring Printed Dress</div>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <div>by Beardman</div>
            </div>
            <img src="img/model1.jpg" alt="">
          </div>
        </div>
      </section>
      <!-- /Section top-rated -->

      <!-- Inizio Section Loghi -->
      <section class="loghi">
        <h5>Brand logos</h5>
        <div class="box-loghi container">
          <img src="img/logo1.png" alt="">
          <img src="img/logo2.png" alt="">
          <img src="img/logo3.png" alt="">
          <img src="img/logo4.png" alt="">
          <img src="img/logo5.png" alt="">
        </div>
      </section>
      <!-- /Section Loghi -->

      <!-- Inizio Footer (top-middle-bottom) -->
      <footer>
        <div class="footer-top">
          <div class="container">
            <div class="text float-left">
              <i class="far fa-envelope"></i>
              <h3>Subscribe now and get special offers</h3>
            </div>
            <div class="email float-right">
              <input type="text" placeholder="Insert you email">
              <button type="button">SEND</button>
            </div>
          </div>
        </div>

        <div class="footer-middle">
          <!-- PRIMA COLONNA -->
          <div class="container2">
            <div class="column1">
              <img class="logo" :src="column1.logo" alt="">
              <div class="info">
                <div v-for="item in column1.info">{{item}}</div>
              </div>
              <div class="social">
                <a v-for="social in column1.socials" :href="social"> <i :class="social"> </i></a>
              </div>
            </div>

          <!-- SECONDA COLONNA -->
            <div class="column2">
              <h4>{{column2.titolo}}</h4>
              <div class="prodotti" v-for="item in column2.info">
                <div class="mini-box">
                  <div class="text ">
                    <div>{{item.capo}}</div>
                    <div> <i v-for="star in 5" class="stars fas fa-star"></i> </div>
                    <div><span class="firstprice">{{item.firstprice}}</span> <span class="price">{{item.price}}</span> </div>
                  </div>
                  <div class="img">
                    <img :src="item.articolo" alt="">
                  </div>
                </div>
              </div>
            </div>

            <!-- TERZA COLONNA -->
            <div class="column3">
              <h4>{{column3.titolo}}</h4>
              <div class="testo" v-for="item in column3.info"><i class="fas fa-angle-right"></i> {{item}}</div>
            </div>

            <!-- QUARTA COLONNA -->
            <div class="column4">
              <h4>{{column4.titolo}}</h4>
              <div class="tag" v-for="item in column4.tags">
                <a v-for="tag in item" href="">{{tag}}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
          <div><a v-for="item in copy" href="">{{item}}</a></div>
          <img :src="payment" alt="">
          </div>

        </div>

      </footer>
      <!-- /Footer (top-middle-bottom) -->
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
